@tailwind base;
@tailwind components;
@tailwind utilities;
@import "98.css";

body {
  margin: 0;
  overflow: hidden;
}

@keyframes boot-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}
